@inject IViewLocalizer localizer

<div class="content-wrap nobottompadding" style="z-index: 1;padding-top:20px; margin-bottom:70px;" >

    <div class="container topmargin clearfix">

        <div class="heading-block center nobottomborder bottommargin-lg clearfix">
            <h2 class="nott mb-4" style="font-size: 44px; line-height: 1.2; letter-spacing: -1px;">@localizer["Our Healthcare <span>Business Areas</span>"]</h2>
            <span style="font-size: 18px; letter-spacing: 0; max-width: 600px; font-weight: 400; color: #888;">@localizer["As the UBSİS family, we produce solutions to improve the health sector."]</span>
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 bottommargin-sm serv">
                <div class="feature-box media-box fbox-bg">
                    <div class="fbox-media">
                        <a href="/ubsis-about-us#macro"><img class="image_fade" src="~/images/strategic-planning.png" alt="ubsis manages macro health services projects."></a>
                    </div>
                    <div class="fbox-desc">
                        <h3 class="nott ls0 t600">@localizer["Macro Health<br/>Services Project Management"]</h3>
                        <a href="/ubsis-about-us#macro" class="button-link noborder color">@localizer["Read More"]</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 bottommargin-sm serv">
                <div class="feature-box media-box fbox-bg">
                    <div class="fbox-media">
                        <a href="/ubsis-about-us#micro"><img class="image_fade" src="~/images/microCons.jpeg" alt="ubsis manages micro health services projects."></a>
                    </div>
                    <div class="fbox-desc">
                        <h3 class="nott ls0 t600">@localizer["Micro Health<br/>Services Project Management"]</h3>
                        <a href="/ubsis-about-us#micro" class="button-link noborder color">@localizer["Read More"]</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 bottommargin-sm serv">
                <div class="feature-box media-box fbox-bg">
                    <div class="fbox-media">
                        <a href="/ubsis-software-solutions"><img class="image_fade" src="~/images/medicalSoftware.jpg" alt="Ubsis provides unique software solutions for Micro and Macro Healthcare Services"></a>
                    </div>
                    <div class="fbox-desc">
                        <h3 class="nott ls0 t600">
                            @localizer["Software Solutions for Micro and Macro Healthcare Services"]
                        </h3>
                        <a href="/ubsis-software-solutions" class="button-link noborder color">@localizer["Read More"]</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 bottommargin-sm serv">
                <div class="feature-box media-box fbox-bg">
                    <div class="fbox-media">
                        <a href="/ubsis-software-solutions#rpa"><img class="image_fade" src="~/images/AutomationAnywhere2.png" alt="Ubsis is business partner with Automation Anywhere and provides Robotic Process Automation (RPA) solutions"></a>
                    </div>
                    <div class="fbox-desc">
                        <h3 class="nott ls0 t600">
                            @localizer["Robotic Process Automation (RPA) Solutions"]
                        </h3>
                        <a href="/ubsis-software-solutions#rpa" class="button-link noborder color">@localizer["Read More"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>