@inject IViewLocalizer _localizer

<div class="content-wrap" style="padding:40px 0px 0px 0px;">

    <div class="heading-block center nobottomborder bottommargin-lg clearfix">
        <h3 class="nott mb-4" style="font-size: 44px; line-height: 1.2; letter-spacing: -1px;">@_localizer["Company  <span>Insights</span>"]</h3>
        @*<span style="font-size: 18px; letter-spacing: 0; max-width: 600px; font-weight: 400; color: #888;">UBSIS offers powerful software solutions for healthcare services</span>*@
    </div>

    <div class="container clearfix">

        <div class="col_one_third">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>@_localizer["Our <span>Mission</span>"]</h4>
            </div>

            <h5>@_localizer["UBSIS is dedicated to delivering effective, efficient and self dependent public healtcare services, highy integrated with information and communication technologies."]</h5>
        </div>

        <div class="col_one_third">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>@_localizer["Our <span>Vision</span>"]</h4>
            </div>

            <h5>@_localizer["To manage and standardize international health management systems, sharing our deep experience and unique qualifications."]</h5>
        </div>

        <div class="col_one_third col_last">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>@_localizer["Our <span>Quality Policy</span>"]</h4>
            </div>

            <h5>@_localizer["UBSIS is comitted to conduct business to enhance national healthcare systems within our knowledge and great experiences."]</h5>
        </div>
    </div>
</div>