@inject IViewLocalizer _localizer

<section id="slider" class="slider-element slider-parallax revslider-wrap clearfix">
    <div class="slider-parallax-inner">

        <div id="rev_slider_k_fullwidth_wrapper" class="rev_slider_wrapper fullwidth-container" style="padding:0px;">
            <div id="rev_slider_k_fullwidth" class="rev_slider fullwidthbanner" style="display:none;" data-version="5.1.4">
                <ul>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="/images/slider/internationalProjectManagement_thumb.jpg" data-delay="15000" data-saveperformance="off" data-title="International Project Management">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/slider/internationalProjectManagement.jpg" alt="Ubsis has 20 years of experience leading international project management" data-bgposition="center bottom" data-bgpositionend="center top" data-kenburns="on" data-duration="25000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="140" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="middle" data-hoffset="0"
                             data-y="top" data-voffset="170"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                             data-speed="800"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; color: black; white-space: nowrap;"><b>@_localizer["International Project Management"]</b></div>

                            <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                 data-x="middle" data-hoffset="0"
                                 data-y="top" data-voffset="185"
                                 data-fontsize="['60','50','50','40']"
                                 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; color: #333;">@_localizer["Passion & Profession"]</div>

                                <div class="tp-caption ltl tp-resizeme revo-slider-desc-text"
                                     data-x="middle" data-hoffset="0"
                                     data-y="top" data-voffset="295"
                                     data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                     data-speed="800"
                                     data-lineheight="['30','30','34','26']"
                                     data-width="['750','750','480','360']"
                                     data-start="1400"
                                     data-easing="easeOutQuad"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-elementdelay="0.01"
                                     data-endelementdelay="0.1"
                                     data-endspeed="1000"
                                     data-textAlign="center"
                                     data-endeasing="Power4.easeIn" style="z-index: 3; color: black; max-width: 650px; white-space: normal;">@_localizer["We pioneer and manage healthcare system transformations globally..."]</div>

                                    <div class="tp-caption ltl tp-resizeme"
                                         data-x="middle" data-hoffset="0"
                                         data-y="top" data-voffset="405"
                                         data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                         data-speed="800"
                                         data-start="1550"
                                         data-easing="easeOutQuad"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-elementdelay="0.01"
                                         data-endelementdelay="0.1"
                                         data-endspeed="1000"
                                         data-endeasing="Power4.easeIn" style="z-index: 3;">@*<a href="#" class="button button-border button-large button-rounded tright nomargin"><span>Read</span><i class="icon-angle-right"></i></a>*@</div>

                                    </li>

                                    <li class="dark" data-transition="zoomout" data-slotamount="1" data-masterspeed="1500" data-thumb="/images/slider/ubsisSoftwareSolutions_thumb.jpg" data-saveperformance="off" data-title="Fixed-Size Video">
                                        <img src="~/images/slider/ubsisSoftwareSolutions.jpg" alt="ubsis is one of the leading companies providing unique software solutions for healthcare instutitions." data-lazyload="/images/slider/ubsisSoftwareSolutions.jpg" data-bgposition="center top" data-scale="cover" data-bgrepeat="no-repeat">
                                        <div class="tp-caption ltl tp-resizeme"
                                             data-x="['left','left','left','left']" data-hoffset="['670','670','100','0']"
                                             data-y="['top','top','bottom','bottom']" data-voffset="['45','45','0','0']"
                                             data-transform_in="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:400;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                             data-speed="400"
                                             data-start="1000"
                                             data-easing="easeOutQuad"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-elementdelay="0.01"
                                             data-endelementdelay="0.1"
                                             data-endspeed="1000"
                                             data-endeasing="Power4.easeIn"><img src="~/images/slider/imac2.png" alt="pacs"></div>

                                        <div class="tp-caption ltl tp-resizeme"
                                             data-x="['left','left','right','right']" data-hoffset="['1000','1000','180','0']"
                                             data-y="['top','top','bottom','bottom']" data-voffset="['320','320','0','0']"
                                             data-transform_in="x:0;y:100;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:400;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                             data-speed="400"
                                             data-start="1200"
                                             data-easing="easeOutQuad"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-elementdelay="0.01"
                                             data-endelementdelay="0.1"
                                             data-endspeed="1000"
                                             data-endeasing="Power4.easeIn"><img src="~/images/slider/ipod.png" alt="pacs"></div>

                                        <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
                                             data-x="['left','left','left','left']" data-hoffset="['20','20','20','20']"
                                             data-y="['top','top','top','top']" data-voffset="['165','165','165','40']"
                                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                             data-speed="800"
                                             data-start="1000"
                                             data-easing="easeOutQuad"
                                             data-splitin="none"
                                             data-splitout="none"
                                             data-elementdelay="0.01"
                                             data-endelementdelay="0.1"
                                             data-endspeed="1000"
                                             data-endeasing="Power4.easeIn" style="white-space: nowrap;margin-bottom:10px!important;" >@_localizer["UBSIS Presents Inspiring"]</div>

                                            <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                                 data-x="['left','left','left','left']" data-hoffset="['17','17','17','17']"
                                                 data-y="['top','top','top','top']" data-voffset="['180','180','180','65']"
                                                 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                                 data-fontsize="['56','56','50','40']"
                                                 data-speed="800"
                                                 data-start="1200"
                                                 data-easing="easeOutQuad"
                                                 data-splitin="none"
                                                 data-splitout="none"
                                                 data-elementdelay="0.01"
                                                 data-endelementdelay="0.1"
                                                 data-endspeed="1000"
                                                 data-endeasing="Power4.easeIn" style="font-size: 56px; white-space: nowrap; line-height:80%; margin-top:10px !important;">@_localizer["Medical Technologies"]</div>

                                                <div class="tp-caption ltl tp-resizeme revo-slider-desc-text tleft"
                                                     data-x="['left','left','left','left']" data-hoffset="['20','20','20','20']"
                                                     data-y="['top','top','top','top']" data-voffset="['280','280','280','165']"
                                                     data-width="['550','550','480','400']"
                                                     data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                                     data-speed="800"
                                                     data-start="1400"
                                                     data-easing="easeOutQuad"
                                                     data-splitin="none"
                                                     data-splitout="none"
                                                     data-elementdelay="0.01"
                                                     data-endelementdelay="0.1"
                                                     data-endspeed="1000"
                                                     data-endeasing="Power4.easeIn" style="max-width: 550px; white-space: normal;">@_localizer["E-Health Management, Hospital Information Management Systems, Pacs Viewer and more..."]</div>

                                                    <div class="tp-caption ltl tp-resizeme"
                                                         data-x="['left','left','left','left']" data-hoffset="['20','20','20','20']"
                                                         data-y="['top','top','top','top']" data-voffset="['385','385','385','270']"
                                                         data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                                         data-speed="800"
                                                         data-start="1550"
                                                         data-easing="easeOutQuad"
                                                         data-splitin="none"
                                                         data-splitout="none"
                                                         data-elementdelay="0.01"
                                                         data-endelementdelay="0.1"
                                                         data-endspeed="1000"
                                                         data-endeasing="Power4.easeIn">

                                                    </div>

                                                </li>

                                                <li class="dark" data-transition="zoomout" data-slotamount="1" data-masterspeed="1500" data-thumb="/images/slider/IHMG_thumb.jpg" data-saveperformance="off" data-title="Fixed-Size Video">
                                                    <img src="~/images/slider/IHMG.jpg" alt="Ubsis is founder and leader of International Health Management roup (IHMG)" data-bgposition="left bottom" data-bgpositionend="right top" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>

                                                    <div class="tp-caption"
                                                         data-x="['left','left','left','left']" data-hoffset="['20','20','30','30']"
                                                         data-y="['top','top','top','top']" data-voffset="['130','130','130','130']"
                                                         data-transform_in="x:0;y:0;z:0;rotationZ:0;scaleX:0.6;scaleY:0.6;skewX:0;skewY:0;s:850;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                                         data-speed="850"
                                                         data-start="1200"
                                                         data-easing="easeOutQuad"
                                                         data-splitin="none"
                                                         data-splitout="none"
                                                         data-elementdelay="0.01"
                                                         data-endelementdelay="0.1"
                                                         data-endspeed="1000"
                                                         data-videowidth="['600','500','650','420']"
                                                         data-videoheight="['340','283','368','238']"
                                                         data-endeasing="Power4.easeIn">
                                                    </div>

                                                    <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
                                                         data-x="['left','left','left','left']" data-hoffset="['675','575','30','30']"
                                                         data-y="['top','top','top','top']" data-voffset="['165','165','530','430']"
                                                         data-transform_in="x:140;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                                         data-speed="800"
                                                         data-start="1000"
                                                         data-easing="easeOutQuad"
                                                         data-splitin="none"
                                                         data-splitout="none"
                                                         data-elementdelay="0.01"
                                                         data-endelementdelay="0.1"
                                                         data-endspeed="1000"
                                                         data-endeasing="Power4.easeIn" style="white-space: nowrap;color:black;">@_localizer["UBSIS IS FOUNDER OF"]</div>

                                                        <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                                             data-x="['left','left','left','left']" data-hoffset="['672','572','30','30']"
                                                             data-y="['top','top','top','top']" data-voffset="['180','180','555','455']"
                                                             data-fontsize="['56','50','40','30']"
                                                             data-transform_in="x:140;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                                             data-speed="800"
                                                             data-start="1200"
                                                             data-easing="easeOutQuad"
                                                             data-splitin="none"
                                                             data-splitout="none"
                                                             data-elementdelay="0.01"
                                                             data-endelementdelay="0.1"
                                                             data-endspeed="1000"
                                                             data-endeasing="Power4.easeIn" style="font-size: 56px; white-space: nowrap;color:black;">IHMG</div>

                                                        <div class="tp-caption ltl tp-resizeme revo-slider-desc-text tleft"
                                                             data-x="['left','left','left','left']" data-hoffset="['675','575','30','30']"
                                                             data-y="['top','top','top','top']" data-voffset="['280','280','655','555']"
                                                             data-transform_in="x:140;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                                             data-speed="800"
                                                             data-start="1400"
                                                             data-easing="easeOutQuad"
                                                             data-splitin="none"
                                                             data-splitout="none"
                                                             data-elementdelay="0.01"
                                                             data-endelementdelay="0.1"
                                                             data-endspeed="1000"
                                                             data-endeasing="Power4.easeIn" style="max-width: 450px; white-space: normal;color:black;">@_localizer["International Health Management Group, serving 11 countries worldwide..."]</div>

                                                            <div class="tp-caption ltl tp-resizeme"
                                                                 data-x="['left','left','left','left']" data-hoffset="['675','575','30','30']"
                                                                 data-y="['top','top','top','top']" data-voffset="['385','385','760','630']"
                                                                 data-transform_in="x:140;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                                                                 data-speed="800"
                                                                 data-start="1550"
                                                                 data-easing="easeOutQuad"
                                                                 data-splitin="none"
                                                                 data-splitout="none"
                                                                 data-elementdelay="0.01"
                                                                 data-endelementdelay="0.1"
                                                                 data-endspeed="1000"
                                                                 data-endeasing="Power4.easeIn">

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </section>