@inject IViewLocalizer localizer

<div id="section-demos" class="section nobg mb-0 clearfix" style="padding: 0px 0px 100px; margin:0px;">
    <div class="container clearfix">

        <div class="heading-block center nobottomborder bottommargin-lg clearfix">
            <h2 class="nott mb-4" style="font-size: 44px; line-height: 1.2; letter-spacing: -1px;">@localizer["Our Software <span>Solutions</span>"]</h2>
            <span style="font-size: 18px; letter-spacing: 0; max-width: 600px; font-weight: 400; color: #888;">@localizer["UBSIS offers powerful software solutions for healthcare services"]</span>
        </div>

        <div class="row justify-content-around clearfix">

            <div class="col-sm-6 p-3 mb-0 mb-lg-4">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="feature-box media-box">
                            <div class="fbox-media mb-lg-0">
                                <img id="myImg1" class="shadow rounded myImg" src="~/images/softwares/ubsis-pacs-software.png" alt="ubsis provides Picture Archiving and Communication System (PACS) software being used my several health instutitions in England">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="mb-2" style="font-size: 22px;">@localizer["Pacs"]</h3>
                        <div class="mb-3" style="color: #999">@localizer["Enables to view radiological data on any electronical device"]</div>
                        <a href="/ubsis-software-solutions#pacs" data-scrollto="#section-niche" data-offset="120" class="more-link">@localizer["Learn More"]<i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 p-3 mb-0 mb-lg-4">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="feature-box media-box">
                            <div class="fbox-media mb-lg-0">
                                <img id="myImg2" class="shadow rounded myImg" src="~/images/softwares/HospitalManagementSystemSoftware.jpg" alt="ubsis provides Hospital Information Management System Software being used my several health instutitions in England">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="mb-2" style="font-size: 22px;">@localizer["Hospital Information Management"]</h3>
                        <div class="mb-3" style="color: #999">@localizer["Manages all health operations of hospitals"]</div>
                        <a href="/ubsis-software-solutions#hbys" data-scrollto="#section-multipage" data-offset="120" class="more-link">@localizer["Learn More"]<i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 p-3">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="feature-box media-box">
                            <div class="fbox-media mb-lg-0">
                                <img id="myImg3" class="shadow rounded myImg" src="~/images/softwares/HumanResourcesSoftware.png" alt="ubsis provides Human Resources and Asset Management Software being used my several health instutitions in England">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="mb-2" style="font-size: 22px;">@localizer["Human Resources Management"]</h3>
                        <div class="mb-3" style="color: #999">@localizer["Human resources and assets management is easier than ever."]</div>
                        <a href="/ubsis-software-solutions#hrm" data-scrollto="#section-onepage" data-offset="80" class="more-link">@localizer["Learn More"]<i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 p-3">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="feature-box media-box">
                            <div class="fbox-media mb-lg-0">
                                <img id="myImg4" class="shadow rounded myImg" src="~/images/softwares/ubsis-multiscope-software.jpeg" alt="ubsis provides Endoscopy, colonoscopy, Multiscope Software being used my several health instutitions in England">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="mb-2" style="font-size: 22px;">@localizer["Multiscope Software"]</h3>
                        <div class="mb-3" style="color: #999">@localizer["Enables multiscope connections (Multiscope, colonoscopy, gastroscopy...) and facilitates unlimited image, video capture and storage of patient records."]</div>
                        <a href="/ubsis-software-solutions#endo" data-scrollto="#section-hero" data-offset="100" class="more-link">@localizer["Learn More"]<i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

